source: nesfr-vr-ros2-docker
Section: misc
Priority: optional
Maintainer: Jaeyoung Lee <jy@wom.ai>
Build-Depends: debhelper-compat (= 12), nvidia-container-runtime (>=3.9.0), containerd(>=1.5.9), docker.io (>=20.10), nvidia-docker2 (>=2.11)
Standards-Version: 4.5.0
Homepage:

Package: nesfr-vr-ros2-docker
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, nvidia-container-runtime (>=3.9.0), containerd(>=1.5.9), docker.io (>=20.10), nvidia-docker2 (>=2.11)
Description: docker base ros2 application for NESFR_VR
