[submodule "nesfr_vr_video_streamer"]
	path = nesfr_vr_video_streamer
	url = git@github.com:wom-ai/nesfr_vr_video_streamer.git
[submodule "nesfr_vr_ctrl"]
	path = nesfr_vr_ctrl
	url = git@github.com:wom-ai/nesfr_vr_ctrl.git
[submodule "nesfr4_control"]
	path = nesfr4_control
	url = git@github.com:wom-ai/nesfr4_control.git
